
    <h1> Welcome to Lab 2-3b </h1>
    <h2> Useful links: </h2>
    <ul>
      <li><a href="/trello">Lab 2-2(Trello Mock)</a></li>
      <li><a href="/about">About Me</a></li>
    </ul>
    <div>
      <img src="/images/duck.jpg" alt="duck">
    </div>
